:root {
   --high-color: #854d27;
   --medium-color:#dd7230;
   --low-color: #f4c95d;
   --bg-color: #e7e393;
   --text-color: #04030f;

   --box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   --box-shadow-light: 0px 2px 2px 1px rgba(0,0,0,0.3);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Header Styles */
.header-content{
    background-color: var(--high-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: var(--box-shadow-light);

}

.btn-tab{
    display: flex;
    padding-top: 10px;
}

.btn {
    background-color: var(--low-color);
    cursor: pointer;
    width: 100px;
    padding: 5px;
    border: 1px solid var(--medium-color);
    
}

/* Content Styles */

.page-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 100%;
}

.menu-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    gap:20px;
    justify-content: center;
}

.menu-plate{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    box-shadow: var(--box-shadow);
    gap: 5px;
    background-color: var(--low-color);
    padding: 10px;
}

.menu-plate > img {
    height:80%;
    width: 100%;
}